[submodule "Source/External/universal-tween-engine-cpp"]
	path = Source/External/universal-tween-engine-cpp
	url = https://github.com/mink365/universal-tween-engine-cpp.git
[submodule "Source/External/hana"]
	path = Source/External/hana
	url = https://github.com/ldionne/hana
[submodule "Source/External/yaml-cpp"]
	path = Source/External/yaml-cpp
	url = https://github.com/blair1618/yaml-cpp.git
	branch = no-boost
