[submodule "Source/External/universal-tween-engine-cpp"]
	path = Source/External/universal-tween-engine-cpp
	url = https://github.com/mink365/universal-tween-engine-cpp.git
[submodule "Source/External/hana"]
	path = Source/External/hana
	url = https://github.com/ldionne/hana
